#bannerRotator {
  max-width: 100%;
  padding: 0;
  margin: 0 auto;
}
#bannerRotator > ul > li {
  width: 100%;
  background: no-repeat top center;
  overflow: hidden;
}
#bannerRotator > ul > li > a {
  display: block;
}
#bannerRotator > ul > li > img,
#bannerRotator > ul > li > a > img {
  max-width: 100%;
  visibility: hidden;
}
#bannerRotator {
  position: relative;
}
#bannerRotator > ul {
  list-style: none;
  padding: 0;
  position: relative;
  margin: 0;
}
#bannerRotator > ul > li {
  display: none;
  position: absolute;
  padding: 0;
  margin: 0;
}
#bannerRotator > ul > li > a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}
.bannerNav_container {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  z-index: 50;
}
#bannerNav {
  position: relative;
  right: 10px;
  bottom: 10px;
  padding: 0;
  width: auto;
  height: 10px;
}
.header_container_external_home_mobile #bannerNav {
  padding: 0;
}
#bannerNav a {
  position: relative;
  margin: 0 5px 0 5px;
  padding: 0;
  height: 10px;
  width: 10px;
  display: block;
  float: left;
  text-align: center;
  text-indent: -9999px;
  font-size: 12px;
  text-decoration: none;
  color: #fff;
}
#bannerNav a:before {
  display: table-cell;
  position: absolute;
  top: 0;
  left: 0;
  font: 12px/1 font-awesome;
  font-size: 12px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f10c";
  width: 10px;
  height: 10px;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  opacity: 1;
  text-indent: 0;
  z-index: 999;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  text-shadow: 0 0 5px #fff;
}
#bannerNav a.active {
  background-position: 0 -10px;
}
#bannerNav a:hover {
  background-position: 0 -10px;
}
#bannerNav a.active:before,
#bannerNav a:hover:before {
  content: "\f111";
  color: #fff;
}
#bannerNav a:first-child {
  margin-left: 0;
}
#bannerNav a:last-child {
  margin-right: 0;
}
#bannerNav span.pause,
#bannerNav span.play {
  display: none;
}
#bannerNav span.play {
  display: none;
}
#bannerNav a {
  transition: none;
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: none;
}
